/* comment & form section*/
.comment-author
        .avatar
                border-radius 50%
                float left
                margin-right 1rem

        .fn
                font-style initial
                font-weight bold

.comment-meta
.reply
.comment-notes
        font-size .9rem

label
        display inline-block

.comment-reply-link
        display block
        width 4rem
        text-align center

label
input[type="search"]
input[name="author"]
input[name="email"]
input[name="url"]
textarea[name="comment"]
        width 100%

.comment-reply-link:link
.comment-reply-link:visited
.comment-reply-link:active
        text-decoration none
        color black

.comment-reply-link
input[type="submit"]
        background #eee

textarea
input
        background-color white
        border solid 1px shirohanada

.comment-reply-link:hover
input[type="submit"]:hover
        background-color white
        border solid 1px bright-h
        color bright-h

input[type="submit"]
.comment-reply-link
        padding .1rem .5rem
        border solid 1px hai

input[type="submit"]
        margin .2rem 0

input[type="submit"].search-submit
        padding 0 1rem
        float right

input
textarea
        padding .2rem .5rem

.comment-notes
input
        margin .3rem 0 .8rem

input.search-field
        margin-bottom .2rem

.comment-reply-title
.comments-header
.reply
        margin .8rem 0 .4rem

.comment-body > p
li.comment + li.comment
        margin-top 1rem

textarea
input
.comment-reply-link
        border-radius 2px

textarea[name="comment"]
        margin-bottom .75rem
        padding .3rem
        height 10em
