/** 
 * # Comment
 */
.comment-author
        .avatar
                border-radius 50%
                float left
                margin-right 1rem

        .fn
                font-style initial
                font-weight bold

/* In thred, only styled author post. */
.bypostauthor > .comment-body
        .avatar:first-of-type
                border solid 2px nakano-h
                box-sizing content-box
        .fn:first-of-type
                color nakano-h

.comment-meta
.reply
.comment-notes
        font-size .9rem

label
        display inline-block

.comment-reply-link
        display block
        width 4rem
        text-align center

.comment-meta::after
        content ""
        display block
        clear both

.comments-list
        & > .comment
                border-bottom solid 1px hai
                padding-bottom 1rem

        ul
                margin-left 2rem
                list-style none

        .comment:last-child
                border none
                padding-bottom 0

.comment-body
        margin 0.75rem 0 1rem

.entry-comments
        .page-numbers
            display flex
            list-style none
            margin 0 auto

            width -moz-fit-content
            width -webkit-fit-content
            width fit-content

            font-size 1.2rem

            li + li
                margin-left .75rem

/**
 * # Forms
 */
label
input[type="search"]
input[name="author"]
input[name="email"]
input[name="url"]
textarea[name="comment"]
select
        width 100%

.comment-reply-link:link
.comment-reply-link:visited
.comment-reply-link:active
        text-decoration none
        color black

.comment-reply-link
input[type="submit"]
        background #eee

select
textarea
input
        background-color white
        border solid 1px shirohanada

.comment-reply-link:hover
input[type="submit"]:hover
        background-color white
        border solid 1px bright-h
        color bright-h

input[type="submit"]
.comment-reply-link
        padding .1rem .5rem
        border solid 1px hai

input[type="submit"]
        margin .2rem 0

input[type="submit"].search-submit
        padding 4px 1rem 0 1rem
        float right

select
input
textarea
        padding .2rem .5rem

.comment-notes
input
        margin .3rem 0 .8rem

input.search-field
        margin-bottom .2rem

.comment-reply-title
.comments-header
.reply
        margin .8rem 0

textarea
input
.comment-reply-link
        border-radius 2px

textarea[name="comment"]
        margin-bottom .75rem
        padding .3rem
        height 10em

.form-submit
        text-align right
