/* Front-Page Section */

/* layout */
/* left-part is banner,right-part is logo , root-contents , widget area
   in small display, 1column Logo-Banner-DropdownPart */

.top-flex-container
        margin 7vh auto
        max-width 1200px
        height 90vh
        display flex
        flex-flow column wrap

.top-banner-box
        width 100%

.top-banner-box
.top-banner
        max-width 800px

.top-banner
.top-flex-container
        max-height 800px

.dropdown-part
.top-page-header
        width 25rem

.top-page-header
        height 9rem

.dropdown-part
        height 12rem
        margin-left 1.25rem

.root-contents
        column-count 2
        height 9rem
        font-size 1.2rem

.top-page-header
        text-align right

.front.widget-area h2 ~ *
        max-height 10rem
        overflow auto

.front.widget-area
        ul
                margin-left 1rem

.top-page-footer
        margin-top 1rem
        padding-left 1rem
        padding-top 1rem

/* top skin  */
h2.contents-link-title
        margin 0 0 .3rem 0
        padding-left 0
        border-left 0

.menu-item
        color bright-h
        display block
        padding 0.2rem 1rem
        border-left solid 3px #fff

        &:hover
            border-left solid 3px bright-h

        & a:hover
            text-decoration none

.top-page-footer
        color hai
        border-top solid 1px shirohanada

/* layout for small display ;1column layout */

@media screen and (max-width: 960px)
        .top-page-header
        .top-flex-container
        .top-banner-box
        .dropdown-part
        .root-contents
        .front.widget-area ul
                width initial
                height initial
                max-width initial
                max-height initial

        .top-flex-container
        .top-banner-box
        .top-banner
                width 100%

        .top-banner
                height auto

        .top-flex-container
                margin 0 auto

        .top-page-header
                order 1
                margin-right .3rem

        .top-banner-box
                order 2

        .dropdown-part
                order 3

        .dropdown-part
                margin initial
                padding 0 .5rem

        .dropdown-part h2
                margin 0.8rem 0

        .top-page-footer
                padding .5rem 1rem
