/*
 * # Front-Page Section
 */

/* layout */
/* left-part is banner,right-part is logo , front-navmenu , widget area
   in small display, 1column Logo-Banner-DropdownPart */

.front-main
    display flex
    flex-flow column wrap

/* for large display */
@media (min-width: breakpoint)
    body.home
        max-width 100%

    .front-main
        width 100%
        height 100vh
        min-width breakpoint

    .headerimage
        width 100vh
        height 100%

    .site-header.-front
    .dropdown-part
        width 40%
        margin-right 7%
        margin-left 3%

    .site-header.-front
        height 20%
        min-height 160px

    .dropdown-part
        height 40%

    .front-navmenu
        font-size 1.2rem
        margin-bottom 1rem
        -moz-columns 2 10rem
        -webkit-columns 2 10rem
        columns 2 10rem
        overflow auto

    .site-header.-front
        text-align right

    .site-header.-front
    .wp-widget.-front
        margin-bottom .5rem

    .front-widgets
        max-height 80%

    .wp-widget.-front
        ul
            margin-left 1rem

        li + li
            padding initial
            margin-top .5rem
            border none

    .site-footer.-front
        position absolute
        bottom 1rem
        right 7%
        color hai
        background none

    /* top skin  */
    .site-name.-front
        color shirohanada

    .navmenu-title
        margin 0 0 .3rem 0
        padding-left 0
        border-left 0

    .menu-item
        color bright-h
        display block
        padding 0.2rem 1rem
        border-left solid 3px #fff

        &:hover
            border-left solid 3px bright-h

        & a:hover
            text-decoration none

/* layout for small display ;1column layout */

@media screen and (max-width: breakpoint)
    .site-header.-front
    .front-main
    .dropdown-part
    .front-navmenu
    .front.widget-area ul
    .wp-widget.-front h2 ~ *
        width initial
        height initial
        max-width initial
        max-height initial

    .front-main
    .site-header.-front
    .headerimage
        width 100%

    .headerimage
        height auto

    .site-name.-front
        color shirohanada
        text-align right
        background-color white

    .front-main
        margin 0 auto

    .site-header.-front
        order 1
        margin-right .3rem

    .headerimage
        order 2

    .dropdown-part
        order 3

    .dropdown-part
        margin initial
        padding 0 .5rem

    .dropdown-part h2
        margin 0.8rem 0

    .site-footer.-front
            padding .5rem 1rem
