/*
 * # Front-Page Section
 */

/* layout */
/* left-part is banner,right-part is logo , front-navmenu , widget area
     in small display, 1column Logo-Banner-DropdownPart */

.front-main
        display flex
        flex-flow column wrap

/* for large display layout*/
@media (min-width: breakpoint)
        body.home
                max-width 100%

        .front-main
                width 100%
                height 100vh
                min-width breakpoint

        .headerimage
                width 100vh
                height 100%

        .site-header.-front
        .dropdown-part
                width 35%
                margin-left 2%
                margin-right 15%

        .dropdown-part
                height 40%

        .site-footer.-front
                margin-top 2rem

/* Skin for front page. */
.front-navmenu
        font-size 1.2rem
        columns 2 10rem
        overflow auto

.site-header.-front
        text-align right

.site-header.-front
        margin-top 1.5rem

.site-description.-front
        font-size 1.2rem
        margin-right 0

.site-header.-front
.front-navmenu
.wp-widget.-front
        margin-bottom 1rem

.site-name.-front
        font-size 84px
        word-wrap break-word

.site-name.-front
.site-description.-front
        line-height 130%

.wp-widget.-front
        ul
                margin 0 1rem

        li + li
                padding initial
                margin-top .5rem
                border none

.site-name.-front
        color shirohanada

.navmenu-title
        margin 0 0 .3rem 0
        padding-left 0
        border-left 0

.menu-item
        color bright-h
        display block
        padding 0.2rem 1rem
        border-left solid 3px #fff

        &:hover
                border-left solid 3px bright-h

        & a:hover
                text-decoration none

/* layout for small display ;1column layout */

@media screen and (max-width: breakpoint)
        .site-header.-front
        .front-main
        .dropdown-part
        .front-navmenu
        .front.widget-area ul
        .wp-widget.-front h2 ~ *
                width initial
                height initial
                max-width initial
                max-height initial

        .front-main
        .site-header.-front
        .headerimage
                width 100%

        .headerimage
                height auto

        .site-name.-front
                font-size 2.8rem
                color shirohanada
                text-align right
                background-color white

        .site-description
        .site-description.-front
                font-size 1rem

        .site-description.-front
                margin-top .2rem

        .front-main
        .dropdown-part
                margin 0 auto

        .site-header.-front
                margin 1rem 0

        .site-header.-front
        .dropdown-part
                padding 0 .5rem

        .site-header.-front
                order 1

        .headerimage
                order 2

        .dropdown-part
                order 3

        .dropdown-part h2
                margin .8rem 0

        .site-footer.-front
                padding 1rem .5rem
