/*!
* Icon-font Section Powered by Icomoon 'https://icomoon.io/'
*/

@font-face
    font-family: 'icomoon'
    src:    url('fonts/icomoon.eot?40c2va')
    src:    url('fonts/icomoon.eot?40c2va#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?40c2va') format('truetype'),
        url('fonts/icomoon.woff?40c2va') format('woff'),
        url('fonts/icomoon.svg?40c2va#icomoon') format('svg')
    font-weight: normal
    font-style: normal


i
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.icon-circle-up:before
    content "\ea41"

.icon-share-google-plus:before
    content "\ea8d"

.icon-git:before
    content "\eae7"

.icon-search:before
    content "\e900"

.icon-checkmark:before
    content "\e901"

.icon-exit:before
    content "\e904"

.icon-eject:before
    content "\e902"

.icon-eject
    vertical-align -2px

.icon-list:before
    content "\f061"

.icon-quill:before
    content "\e610"

.icon-folder:before
    content "\e60e"

.icon-tag:before
    content "\e600"

.icon-time:before
    content "\e60f"

.icon-comment:before
    content "\e800"

.icon-terminal:before
    content "\e612"

.icon-share:before
    content "\e613"

.icon-share-facebook:before
    content "\e604"

.icon-twitter:before
    content "\e606"

.icon-share-twitter:before
    content "\e607"

.icon-youtube:before
    content "\e608"

.icon-github:before
    content "\e801"

.icon-wordpress:before
    content "\e60a"

.icon-tumblr:before
    content "\e802"

.icon-html5:before
    content "\e60c"

.icon-css3:before
    content "\e60d"

.icon-hatebu:before
    content "\e804"

.icon-illust:before
    content "\e803"

.icon-photo:before
    content "\f083"

.icon-fighter-jet:before
    content "\f0fb"

.icon-angle-top:before
    content "\f106"

.icon-angle-left:before
    content "\f104"

.icon-angle-right:before
    content "\f105"

.icon-ellipsis-v:before
    content "\f142"

.icon-instagram:before
    content "\f16d"

.icon-flickr:before
    content "\f16e"

.icon-deviantart:before
    content "\f1bd"

.icon-get-pocket:before
    content "\f265"


