/* top rayout */

.top-flex-container
	margin 5vh auto
	width 1140px
	height 722px
	display flex
	flex-flow column wrap

.toppage-header
	width 418px
	height 130px
	text-align right

.dropdown-part
	width 418px 
	height 540px
	padding 0 2rem

img.top-banner
	width 722px
	height 648px

/* top skin  */
.root-contents
	column-count 2

.content-link
	color bright-h !important //only over write color a.content-link
	font-size 1.2rem
	display block
	width 10rem
	padding 0.2rem 1rem
	border-left solid 3px #fff

.content-link:hover
	border-left solid 3px bright-h
	text-decoration none !important //only over write a.content-link

.top-page-footer
	color hai
	border-top solid 1px shirohanada
	padding-left 1em
	padding-top 0.5em

