/* For Only TwitterWidget */

.widget_twitter
        font-size .875rem

        span.entry-content:after
                content "\A"
                white-space pre

        .follow-button
                text-align right

        .twitter-avatar
                text-align center
                margin-bottom .5rem

        li + li
                border none

        .twitter-avatar img
                border-radius 6px

/* For Only TwitterDigester */
.ws_tweet_list
        margin-left .5rem
