icon-photo = "\f083"
icon-deviantart = "\f1bd"
icon-share = "\f1e1"
icon-get-pocket = "\f265"
icon-folder = "\e60e"
icon-tag = "\e600"
icon-time = "\e60f"
icon-calendar = "\e601"
icon-develop = "\e602"
icon-share-google-plus = "\e603"
icon-share-facebook = "\e604"
icon-instagram = "\e605"
icon-twitter = "\e606"
icon-share-twitter = "\e607"
icon-youtube = "\e608"
icon-github = "\e609"
icon-wordpress = "\e60a"
icon-tumblr = "\e60b"
icon-html5 = "\e60c"
icon-css3 = "\e60d"
