/*
Theme Name Shirohanada
Description Adds supoort editor style.
*/


.mce-content-body

        font-family Hiragino Kaku Gothic ProN, Meiryo, sans-serif
        line-height 1.8

        width 695px
        margin  0 auto
        padding  0 0.5rem

        *:first-child

                margin-top 0.5rem

        h1,h2,h3,h4,h5
                font-family 'Ubuntu', 'Meiryo', sans-serif
                font-weight normal
                color #436fb4
                font-size 1.62rem
                margin 2rem 0 1rem
                padding-left 0.75rem
                border-left solid 3px #436fb4
                clear both

        ul
        ol
                padding  0.5rem 2rem 1rem 2rem

        p
                margin-bottom 1rem
