/*
Theme Name Shirohanada
Description Adds supoort editor style.
*/

@import "_color"

.mce-content-body

        font-family Hiragino Kaku Gothic ProN, Meiryo, sans-serif
        line-height 1.8

        width 695px
        margin  0 1rem auto
        padding  0 0.5rem

        *:first-child

                margin-top 0.5rem

        h1
        h2
        h3
        h4
        h5
        h6
              font-family 'Ubuntu', 'Meiryo', sans-serif
              font-weight normal
              clear both

        h1
              color shirohanada
              font-size 2.7rem
              margin 2rem 0 1rem
              padding 0 .75rem

        h2
              border-left solid 3px nakano-h
              color nakano-h
              font-size 1.66rem
              margin 2rem 0 1rem
              padding 0 .75rem

        h3
              border-left double nakano-h
              color nakano-h
              font-size 1.2rem
              margin 1rem 0
              padding 0 .75rem

        h4
              border-left solid 2px nakano-h
              color nakano-h
              font-size 1.2rem
              margin 1rem 0
              padding 0 .75rem

        h5
              border-bottom solid 1px nakano-h
              color nakano-h
              font-size 1.2rem
              margin .8rem 0 .5rem
              padding 0 .5rem
              padding 0 .75rem
              width -moz-fit-content
              width fit-content

        h6
              color nakano-h
              font-size 1.2rem
              margin .8rem 0 .5rem
              padding 0 .5rem

        a
                color bright-h

                &:hover
                            text-decoration dotted
                            text-decoration-line underline

                &:visited
                            color maroon

        p
                margin .75rem 0

                &:after
                            display block
                            content ""
                            clear both

        blockquote
                border-left solid 3px border-hai
                margin 0.8rem 0
                padding 0.2rem 0.75rem
                overflow-wrap break-word

        ul
                list-style-type square

        /* Table Style */
        td,th
                padding .2rem .5rem

        tr + tr
                border-top 1px solid hai

        /* Definition list */
        dl
                margin-left 0

        dt
                display inline-block
                font-weight bold
                border-bottom solid 1px border-hai

        dt + dd
                margin-top .2rem
                padding-top .2rem

        dd
                margin-bottom 1rem
                margin-left 0

        .wp-caption-dd
                text-align center


