/* TODO Insert WordPress theme declaration */

@import "nib"

@import "_sanitize"
@import "_icon-font"

/* Follow Architecture Every Declation Just Once
*  ref 'https://developers.google.com/speed/articles/optimizing-css' */

/* Base */
body
        font-size 16px
        margin 0 auto
        letter-spacing 0.07rem
        width 100%
        max-width 1140px

ul
        list-style-type square

/* Layout */

.main-contents
article
        display flex
        flex-wrap wrap

.site-header
.site-footer
.entry-footer
        width 100%

.main-contents
        width 90%
        margin 0 auto

.articles
.entry-content
.page-content
        width 74%

.entry-header
        width 24%

.site-header
        padding-right 10%

.site-footer
        padding-left 10%

.entries
.page
        h1,p
                display inline

article img
        max-width 600px

/*  Margin Padding */

li + li
        margin-top .6rem

i
        margin-right .3rem

.site-description
        margin-right .5rem

article
        margin-bottom 2rem

.page-content
.articles
        padding 0 .5rem

h3
.entry-title
        margin-bottom .3rem

aside
p
        margin-bottom .6rem

.page-content ul
article ul
        margin-left 1rem

h2
        padding 0 0 .5rem

p ~ h3
.entry-footer
.site-footer
        padding-top .8rem

.entry-footer
.site-header
.paging
        text-align right

/*  Typograghy  */
/*  font-size  */

h1
h2
h3
.site-description
.root-contents
        font-family 'Ubuntu' , sans-serif
        font-weight normal

h1
        font-size 72px

h2
        font-size 2.62rem

i
        font-size 1.2rem

h3
.contents-link-title
.entry-title
.widget-title
        font-size 1.62rem

.paging a > i
        vertical-align -0.07em
        font-size 1.7rem

/* color ShiroHanada #a3d8f6 */

shirohanada = #a3d8f6
nakano-h = #436fb4
bright-h = #257bcc
hai = #666
usu-hai = #f8fafa

a:link
        color bright-h

a:visited
        color #af3381

a:hover
        text-decoration underline

h2
        color nakano-h
h3
.entry-title
        color bright-h

header i
.site-description
.site-footer
        color hai

.articles
.secondary
.page-content
        background-color usu-hai

.site-name
a.link-top:link
a.link-top:visited
a.link-top:hover
        color shirohanada
        text-decoration none

/* utility */
ul.list-style-none
        list-style-type none

/* Menu */
#secondary
        padding 0 1.5rem
        border-left solid 15px #fff

        ul
                list-style-type none
                width 10rem

        li + li
                padding-top .4rem
                margin-top .4rem
                border-top solid 1px hai

#wp-calendar
        font-size .8rem

        th
                font-weight normal

        tr + tr
                border-top 1px solid hai

        td
                padding .2rem
                text-align center

        caption
                text-align left

.twitterwidget

        ul
                margin-left 1rem
                font-size 0.8rem

        li + li
                margin-top .5rem

/*
* top-page section
*/
@import "_top"
