/*
Theme Name Shirohanada
Description Adds supoort editor style.
*/

@import "_color"

.wp-block
        width 690px
        font-family Hiragino Kaku Gothic ProN, Meiryo, sans-serif
        line-height 1.8

        h1
        h2
        h3
        h4
        h5
        h6
              font-family 'Ubuntu', 'Meiryo', sans-serif
              font-weight normal
              clear both

        h1
              color shirohanada
              font-size 2.7rem
              margin 2rem 0 1rem
              padding 0 .75rem

        h2
              border-left solid 3px nakano-h
              color nakano-h
              font-size 1.66rem
              margin 2rem 0 1rem
              padding 0 .75rem

        h3
              border-left double nakano-h
              color nakano-h
              font-size 1.2rem
              margin 1rem 0
              padding 0 .75rem

        h4
              border-left solid 2px nakano-h
              color nakano-h
              font-size 1.2rem
              margin 1rem 0
              padding 0 .75rem

        h5
              border-bottom solid 1px nakano-h
              color nakano-h
              font-size 1.2rem
              margin .8rem 0 .5rem
              padding 0 .5rem
              padding 0 .75rem
              width -moz-fit-content
              width fit-content

        h6
              color nakano-h
              font-size 1.2rem
              margin .8rem 0 .5rem
              padding 0 .5rem

        a
                color bright-h

                &:hover
                            text-decoration dotted
                            text-decoration-line underline

                &:visited
                            color maroon

        .wp-block-quote
                border-left solid 3px border-hai
                margin 0.8rem 0
                padding 0.2rem 0.75rem
                overflow-wrap break-word
                padding 1rem

                &__citation::before
                    content "\2014"
                    margin-right .25rem

              p
                    margin 0

              p + p
                    margin-top 1rem

        ul
                list-style-type square

        ul._no-marker
        ol._no-marker
                list-style-type none
                margin-left 0

        /* Table Style */
        td
                border none
        tr + tr
                border-top 1px solid hai

        /* Definition list */
        dl
                margin-left 0

        dt
                display inline-block
                font-weight bold
                border-bottom solid 1px border-hai

        dt + dd
                margin-top .2rem
                padding-top .2rem

        dd
                margin-bottom 1rem
                margin-left 0

        /* For blocks */
        .wp-caption-dd
                text-align center

        .blocks-gallery-item
                flex-grow unset

        .wp-block-pullquote blockquote
                border-color hai
