@import "_sanitize"

.alignleft
	float left 

.site-header
	width 20em
	margin-left auto
	text-align right
	padding-right 1em

.site-name
	font-size 3em
	color #A3D8F6

.site-description
	color #6FA3D4
	font-size 1.2em

.diadact
	font-family 'Didact Gothic', sans-serif;

.poiret
	font-family 'Poiret One', cursive
.ubuntu
	font-family 'Ubuntu', sans-serif

.questrial
	font-family 'Questrial', sans-serif

.nobile
	font-family 'Nobile', sans-serif

.advent
	font-family 'Advent Pro', sans-serif

.coda
	font-family 'Coda', cursive

.carme
	font-family 'Carme', sans-serif

.catanaran
	font-family 'Catamaran' , sans-serif

