/* TODO Insert WordPress theme declaration */

@import "nib"

@import "_sanitize"
@import "_icon-font"

/* Follow Architecture Every Declation Just Once
*  ref 'https://developers.google.com/speed/articles/optimizing-css' */

/* Base */
body
	margin 0 auto
	letter-spacing 0.07rem
	width 100%
	max-width 1140px

ul
	list-style-type square

/* Layout */

.entry-header
	p
		display inline

article img
	//max-width 600px//
	max-width 100% 

.site-footer
	width 95%

.entry-footer
	width 80%

.entry-footer
	display flex
	justify-content space-between

/*  Margin Padding */

li + li
	margin-top .6rem

i
	margin-right .3rem

.icon-angle-right
	margin-left .3rem

article
	margin-bottom 2rem
	padding-bottom .8rem

.site-description
	margin .2rem .4rem 0 .4rem

.page-content
.articles
	padding 0 1rem

.site-footer
.entry-footer
	margin 0 auto

.entry-title
.entry-header
	margin 1rem 0

aside
article p
	margin-bottom .6rem

.page-content ul
article ul
	margin-left 1rem

.page-title
.entry-footer
p ~ h3
	padding-top .8rem

.entry-footer
.site-header
	text-align left

.site-name
	text-align center

.paging
	text-align center

/*  Typograghy  */
/*  font-size  */

h1
h2
h3
.site-description
.root-contents
	font-family 'Ubuntu' , sans-serif
	font-weight normal

.site-name
	font-size 2.6rem

.entry-footer
	.share-button
		font-size 1.6rem

h2
h3
.contents-link-title
.entry-title
.widget-title
	font-size 1.62rem

/* color ShiroHanada #a3d8f6 */

shirohanada = #a3d8f6
nakano-h = #436fb4
bright-h = #257bcc
hai = #777
usu-hai = #f8fafa

h3
.entry-title
a:link
	color bright-h

a:visited
	color #af3381

a:hover
	text-decoration underline

h2
	color nakano-h

.entry-header i
.icon-share
.site-footer
	color hai

.site-description
	color rgba(0,0,0,0.6)

.articles
.secondary
.page-content
	background-color usu-hai

.site-name
	background-color shirohanada

a.link-top:link
a.link-top:visited
a.link-top:hover
	color white

a.link-top:hover
a.share-button:hover
	text-decoration none

article
	border-bottom solid 1px hai

/* Web Service Brand Colors */
a[href^="https://github.com/"] > i
	color #333

a[href^="https://twitter.com/"] > i
	color #55acee

a[href^="https://facebook.com/"] > i
	color #3b5998

a[href^="https://plus.google.com/"] > i 
	color #dd4b39

a[href^="https://b.hatena.ne.jp/"] > i
	color #1a99cd

a[href*="wordpress.org"] > i
	color #21759b

a[href^="https://getpocket.com/"] > i
	color #ef4056

a[href^="https://instagram.com/"] > i
	color #3f729b

a[href^="https://www.flickr.com/"] > i
	color #0063dc

a[href^="http://k-akiya.deviantart.com/"] > i
	color #05cc47

a[href*=".tumblr.com"] > i
	color #35465c

/* utility */
ul.list-style-none
	list-style-type none

/* Menu */
#side-bar
	padding 0 1.5rem 1rem

	ul
		list-style-type none
		width 10rem

	li + li
		padding-top .4rem
		margin-top .4rem
		border-top solid 1px hai

#wp-calendar
	font-size .8rem

	th
		font-weight normal

	tr + tr
		border-top 1px solid hai

	td
		padding .2rem
		text-align center

	caption
		text-align left

.twitterwidget
	ul
		margin-left 1rem
		font-size .8rem

	li + li
		margin-top .5rem

.show-menu
.show
	position absolute

.show
	box-shadow -1px 1px 1px 2px rgba(0,0,0,0.2)
	top 5px
	right 3px

.button
	font-size 28px
	background none
	color nakano-h

.show-menu
	top 2.6rem
	right 15px

.hide-menu-btn
	padding-top .5rem
	display none
	width 100%
	text-align right

.show-btn
	display block

/*
* top-page section
*/

/* top layout */
.top-flex-container
	display flex
	flex-flow column wrap

.root-contents
	column-count 2
	height 7.8rem

.toppage-header
	order 1

.top-banner
	order 2

.dropdown-part
	order 3

.dropdown-part
	padding 0 1rem

.dropdown-part h2
	margin 0.8rem 0

.top-page-footer
	padding-left 1rem

.top-banner
	width 100%

/* top skin  */
.toppage-header > h1
	color shirohanada
	background none

.content-link
	color bright-h !important //only over write color a.content-link
	font-size 1.2rem
	display block
	width 10rem
	padding 0.2rem 1rem
	border-left solid 3px #fff

.content-link:hover
	border-left solid 3px bright-h
	text-decoration none !important //only over write a.content-link

.top-page-footer
	color hai
	border-top solid 1px shirohanada
	padding-top 0.5em

