/*
Theme Name: Shirohanada
Theme URI: https://github.com/akiya64/shirohanada
Author: Kitami Akiya
Author URI: http://autumnsky.sakura.ne.jp/
Description: Shirohanada is flat and soft color tones WordPress theme. SHIROHANADA is color name in japanese ;like skyblue.
Version: 0.11
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: custom-menu
Text Domain: shirohanada
*/

@import "nib"
@import "../node_modules/modern-normalize/modern-normalize.css"

breakpoint = 600px
