/*
Theme Name: Shirohanada
Theme URI: http://autumnsky.sakura.ne.jp/
Author: Kitami Akiya
Author URI: http://autumnsky.sakura.ne.jp/
Description: Shirohanada is flat and soft color tones WordPress theme. SHIROHANADA is color name in japanese ;like skyblue.
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: gray, right-sidebar, fixed-layout, responsive-layout, custom-menu, 
Text Domain:
*/

// Color Declaration //
shirohanada = #a3d8f6
nakano-h = #436fb4
bright-h = #257bcc
hai = #777
usu-hai = #f8fafa
enji = #af3381

/* major breakpoint ; minorpoint 960px */
breakpoint = 768px

// postCSS library //
@import "nib"

@import "_sanitize"
@import "_icon-font"

/*! Main Section
   Follow Architecture Every Declaration Just Once
   ref 'https://developers.google.com/speed/articles/optimizing-css' */

/* Base */
body
        font-family Hiragino Kaku Gothic ProN,Meiryo,sans-serif
        letter-spacing 0.05rem
        margin 0 auto
        width 100%
        max-width 1140px

article ul
        list-style-type square

/* Layout */
/* looks 3columns but HTML is 2 Column */
.share-links
        display flex
        justify-content space-around

.share-links
        margin-left 60% //align right share bottun

.wp-caption
        max-width 100%

.share-links
        width 95%

.site-footer
.sidebar
        margin-left 1%

article img
        max-width 600px
        height auto

.entry-header > p //post-date and post-category looks 1row
.site-footer > p
        display inline

/* Layout for Large Display ; looks 2 column in Article */
@media (min-width:breakpoint)
        .entries
                h1,p
                        display inline //site-name and site-description looks 1row

        .site-header
                padding-right 5%

        .site-header
                text-align right

        .site-name
                font-size 72px

        .main-contents
        article
                display flex
                flex-wrap wrap
                padding .7rem 1rem

        .main-contents
                margin 0 auto

        .articles
        .entry-content
        .comments
        .page-content
                width 76%

        .sidebar
                width 20%

        .entry-margin
        .entry-header
                width 23%

        .entry-margin
        .entry-header
                margin-right 1%

        .entry-header > p
                display block

        .entry-content
        .comments
                min-width 560px

        #menu-button  //show only less 768px
                display none

/*  Margin Padding */

.comments
li + li
        margin-top .6rem

.icon
        margin-right .4rem

.icon-angle-right
        margin-left .4rem

.site-description
        margin-right .5rem

article
        margin-bottom 1rem

section
.entry-header
        margin-bottom .6rem

.page-title
        margin-bottom .7rem

.contents-link-title
.entry-title
.entry-header p
        margin-bottom .3rem

.entry-content p
.page-content p
        margin .5rem 0

article
    ul
    ol
    dl
        margin 1rem

dd
        margin-left 2rem

.site-footer
        margin 0.5rem 1rem

.page-title
        padding 0 .5rem 0 1.5rem

.share-links
        padding-top 1rem

.sidebar
        padding .8rem 1rem

blockquote
        padding .2rem .75rem

blockquote
        margin .8rem 0

.entry-content h1
.entry-content h2
.entry-content h3
.entry-content h4
.entry-content h5
.entry-content h6
        margin 1rem 0 .8rem
        padding-left .5rem
        border-left solid 3px

.entry-content > *:first-child
        margin-top 0


.paging
        text-align center

/* utility class */
.clearfix:after
        content " "
        display block
        clear both

.no-marker
        list-style-type none
        margin-left 0

.point
        border-left solid 3px shirohanada
        padding .5rem 0 .5rem 1rem

/* for WordPress class */
.alignleft
        float left
        margin-right 1rem

.alignright
        float right
        margin-left 1rem

.aligncenter
        margin auto

.wp-caption
        text-align center

.wp-caption > p
        padding-top .3rem

/*  Typograghy  */
/* font-family */
h1,h2,h3,h4,h5,h6
.site-description
.root-contents
        font-family 'Ubuntu' , sans-serif
        font-weight normal

/*  font-size  */
.page-title
        font-size 2.4rem

.contents-link-title
.entry-title
.widget-title
.share-links
.entry-content h1
.entry-content h2
.entry-content h3
.entry-content h4
.entry-content h5
.entry-content h6
.comment-reply-title
.comments-header
        font-size 1.62rem

.entry-content
        font-size .875rem

/* color ShiroHanada #a3d8f6 */
.site-name
a.share-button
a.link-top:link
a.link-top:visited
a.link-top:hover
        color shirohanada

.entry-title
a:link
        color bright-h

h2
.entry-content h1
.entry-content h2
.entry-content h3
.entry-content h4
.entry-content h5
.entry-content h6
.comments-header
.comment-reply-title
        color nakano-h

a:visited
        color enji

.site-name
a.share-button
a.link-top:link
a.link-top:visited
a.link-top:hover
a.button:hover
        text-decoration none

a:hover
        text-decoration underline
        text-decoration-style dashed

.entry-header i
.icon-share
.site-footer
.site-description
        color hai

.sidebar
.page-content
.page-title
article
        background-color usu-hai

thead
        background-color #eee

tr + tr
        border-top 1px solid hai

td
        padding .2rem .5rem

caption
        text-align left

blockquote
        border-left solid 3px hai



/* over write for mobile */
@media screen and (max-width: breakpoint)
        .sidebar.show
                box-shadow -1px 1px 1px 2px rgba(0,0,0,0.2)
                top 5px
                right 3px
                width 60%

        .share-links
                width 80%
                margin-left auto
                margin-right auto

        .site-name
                font-size 2.8rem

        .entry-content
                font-size initial

        /* Header is white logo above "shirohanada" */
        .site-header .site-name
                text-align center
                background-color shirohanada

        a.link-top:link
        a.link-top:visited
        a.link-top:hover
                color white   // site-logo is top-page link

        .page-title
                padding 1rem .5rem
                margin initial
                font-size 1.62rem

        .entry-date
                margin-right 1rem

        .site-header > p
        .site-footer
                padding .5rem .8rem

        .site-header > p
        article
                margin-bottom 0

        article
                padding 0 .5rem 1rem

        article + article
                padding-top 1rem
                border-top solid 1px #777

        article img
                max-width 100%
                height auto

        .articles
                margin-bottom 1rem

/* Web Service Brand Colors for icon font */
@import "_icon-color"

/* End Main Section */

/* Parts Section */
/* gravatar */
img[src^="http://www.gravatar.com/avatar/"]
        border-radius .5rem

/* Side Bar */
/* inside sidebar skin */

.sidebar
        .widget
                margin-bottom 1rem

        ul
                list-style-type none

        li + li
                padding-top .4rem
                margin-top .4rem
                border-top solid 1px hai

        #wp-calendar
                font-size .8rem

                th
                        font-weight normal
                td
                        text-align center

/* comment & form section*/
.comment-author
        .avatar
                border-radius 50%
                float left
                margin-right 1rem

        .fn
                font-style initial
                font-weight bold

.comment-meta
.reply
.comment-notes
        font-size .9rem

label
        display inline-block

.comment-reply-link
        display block
        width 4rem
        text-align center

label
input[type="search"]
input[name="author"]
input[name="email"]
input[name="url"]
textarea[name="comment"]
        width 100%

.comment-form
        width 90%

.comment-reply-link:link
.comment-reply-link:visited
.comment-reply-link:active
        text-decoration none
        color black

.comment-reply-link
input[type="submit"]
        background #eee

textarea
input
        background-color white
        border solid 1px shirohanada

.comment-reply-link:hover
input[type="submit"]:hover
        background-color white
        border solid 1px bright-h
        color bright-h

input[type="submit"]
.comment-reply-link
        padding .1rem .5rem
        border solid 1px hai

input[type="submit"]
        margin .2rem 0

input[type="submit"].search-submit
        padding 0 1rem
        float right

input
textarea
        padding-left .5rem

.comment-notes
input
        margin .3rem 0 .8rem

input.search-field
        margin-bottom .2rem

.comment-reply-title
.comments-header
.reply
        margin .8rem 0 .4rem

.comment-body > p
li.comment + li.comment
        margin-top 1rem

textarea
input
.comment-reply-link
        border-radius 2px

textarea[name="comment"]
        margin-bottom .75rem
        padding .3rem
        height 10em

/*! bottun */
.show-menu
.show
        position absolute

.button
        font-size 1.8rem
        background none
        color nakano-h

.show-menu
        top 3.8rem
        right .8rem

.hide-menu-button
        padding-top .5rem
        display none
        width 100%
        text-align right

.show-button
        display block

/* Front-Page Section */

/* layout */
/* left-part is banner,right-part is logo , root-contents , widget area
   in small display, 1column Logo-Banner-DropdownPart */

.top-flex-container
        margin 7vh auto
        width 85vw
        max-width 1200px
        height 90vh
        max-height 648px
        display flex
        flex-flow column wrap

.top-banner-box
        width 75%
        max-width 722px

.dropdown-part
.top-page-header
        width 25rem

.top-page-header
        height 9rem

.dropdown-part
        height 12rem
        padding-left 1rem

.root-contents
        column-count 2
        height 9rem
        font-size 1.2rem

.top-page-header
        text-align right

.front.widget-area ul
        max-height 11rem
        overflow auto

.front.widget-area
        ul
                margin-left 1rem
                font-size .8rem

        li + li
                margin-top .2rem
                border none

.top-page-footer
        margin-top 1rem
        padding-left 1rem
        padding-top .5rem

/* top skin  */
.content-link > li
        color bright-h !important //only over write color in content-link
        display block
        padding 0.2rem 1rem
        border-left solid 3px #fff

.content-link > li:hover
        border-left solid 3px bright-h

.content-link > li > a:hover
             text-decoration none !important //only over write in content-link

.top-page-footer
        color hai
        border-top solid 1px shirohanada

/* layout for small display ;1column layout */

@media screen and (max-width: 960px)
        .top-page-header
        .top-flex-container
        .top-banner-box
        .dropdown-part
        .root-contents
        .front.widget-area ul
                width initial
                height initial
                max-width initial
                max-height initial

        .top-flex-container
        .top-banner-box
        .top-banner
                width 100%

        .top-banner
                height auto

        .top-flex-container
                margin 0 auto

        .top-page-header
                order 1
                margin-right .3rem

        .top-banner-box
                order 2

        .dropdown-part
                order 3

        .dropdown-part
                padding 0 .5rem

        .dropdown-part h2
                margin 0.8rem 0

        .top-page-footer
                padding .5rem 1rem

/* For Only TwitterWidget */

.widget_twitter
       span.entry-content:after
                content "\A"
                white-space pre

        .follow-button
                text-align right

        .twitter-avatar
                text-align center
                margin-bottom .5rem

        ul
                font-size .75rem
                line-height 1.6

        li + li
                border none
                margin-top .2rem

        .twitter-avatar img
                border-radius 6px
