/*
Theme Name: Shirohanada for Autumnsky
Theme URI: http://autumnsky.sakura.ne.jp/
Author: Kitami Akiya
Author URI: http://autumnsky.sakura.ne.jp/
Template: shirohanada
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blue, white, gray, right-sidebar, fixed-layout, responsive-layout, custom-menu, 
Text Domain:
*/

/* TwitterWidget */
@import 'nib'

.widget_twitter
        font-size .875rem

        span.entry-content:after
                content "\A"
                white-space pre

        .follow-button
                text-align right

        .twitter-avatar
                text-align center
                margin-bottom .5rem

        li + li
                border none

        .twitter-avatar img
                border-radius 6px

